@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --normal-font: Verdana, Tahoma, sans-serif;
  --paragraph-font: 'Sriracha', cursive;
  --primary-font: 'Passion One', cursive;

  font-size: 10px;
}

html, body {
  min-height: 100vh;
  background-color: darkgray;
  font: 1.6rem var(--normal-font);
}

header {
  background-color: black;
  color: white;

  text-align: center;
}

a {
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

section {
  padding-block: 10vh;
  padding-left: 3rem;

  font: 2.5vh var(--paragraph-font);
  line-height: 3.2rem;
}

.normal {
  background-color: white;
}

.image {
  background: rgb(51, 51, 51) fixed;
  background-size: cover;

  color: white;

  box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.514);
}

footer {
  background-color: black;
  color: white;

  text-align: center;

  padding: 1rem;
}
