@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --paragraph-font: 'Sriracha', cursive;
  --primary-font: 'Passion One', sans-serif;

  font-size: 10px;
}

html, body {
  min-height: 100vh;
  background-color: darkgray;
}

body {
  font: 1.6rem var(--paragraph-font);
}

header {
  background-color: black;
  color: white;

  font: 2.4rem var(--primary-font);
  text-align: center;
}

a {
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

section {
  padding-block: 10vh;
  line-height: 3.2rem;
  padding-left: 3rem;
}

.normal {
  background-color: white;
}

.image {
  background-color: rgb(51, 51, 51);
  color: white;
}

.image p {
  background-color: rgba(0, 0, 0, 0.253);
  width: 40rem;
}

footer {
  background-color: black;
  color: white;

  font: normal 1.8rem var(--primary-font);
  text-align: center;

  padding: 1rem;
}
