@import url('./global.css');

header h1 {
  text-transform: uppercase;
  letter-spacing: 0.145rem;
  font: 6.7vh var(--primary-font);

  padding-top: 5rem;
}

header p {
  padding-bottom: 5rem;
  
  font: 3vh var(--paragraph-font);
  letter-spacing: 0.125rem;
}

section p {
  margin-bottom: 2.8rem;
}

.image p {
  background-color: rgba(0, 0, 0, 0.514);
  width: 40rem;
  padding: 0.5rem;

  text-shadow: 1px 1px 0px black;
}

#img-01 {
  background-image: url('../images/background001.jpg');
  background-position: right center;
}

#img-02 {
  background-image: url('../images/background002.jpg');
}
