@import url('./global.css');

header h1 {
  text-transform: uppercase;
  letter-spacing: 0.145rem;

  padding-top: 5rem;
}

header p {
  padding-bottom: 5rem;
  
  font: 2.2rem var(--paragraph-font);
  letter-spacing: 0.125rem;
}

.image p {
  background-color: rgba(0, 0, 0, 0.253);
  width: 40rem;
}
